<section class="">
  <main class="flex flex-col items-center justify-center min-h-[100vh] bg-cover bg-center">
    <h1 class="text-4xl md:text-6xl text-center font-bold text-white text-balance mb-4 max-w-5xl">
      {{ 'home.main.title' | translate }}
    </h1>
    <p class="text-xl text-center text-white mb-8 max-w-5xl">
      {{ 'home.main.description' | translate }}
    </p>
    <button class="btn-white-outline">{{ 'navbar.contact' | translate }}</button>
  </main>
</section>
<section class="container my-20 mx-auto">
  <kdw-title
    [title]="'about.title' | translate"
    [subtitle]="'about.description' | translate"
  ></kdw-title>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-center mx-auto px-4 mb-20 items-stretch"
  >
    @let cards = 'about.cards' | translate: { returnObjects: true };
    @for (item of cards; track item.title) {
      <kdw-card [title]="item.title" [text]="item.description"></kdw-card>
    }
  </div>
</section>
<section class="relative overflow-hidden">
  <div
    class="size-[200px] border-[24px] border-k-white/15 rounded-full absolute -translate-x-1/3 -translate-y-1/3"
  ></div>
  <div
    class="size-[200px] border-[24px] border-k-white/15 rounded-full absolute right-0 bottom-0 translate-x-1/3 translate-y-1/3"
  ></div>
  <div class="bg-k-primary bg-gradient-to-br from-k-primary to-k-secondary py-10">
    <div class="container mx-auto px-4">
      <h3 class="font-bold text-xl text-center text-k-white mb-4">
        {{ 'staff.title' | translate }}
      </h3>
      <p class="text-center mb-10 max-w-xl mx-auto text-k-white">
        {{ 'staff.description' | translate }}
      </p>
      <div>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center mx-auto px-4 items-stretch"
        >
          @let team = 'staff.members' | translate: { returnObjects: true };
          @for (member of team; track $index) {
            <kdw-card-member
              [name]="member.name"
              [bio]="member.bio"
              [image]="member.image"
            ></kdw-card-member>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container my-20 mx-auto relative">
  <kdw-title
    [title]="'services.title' | translate"
    [subtitle]="'services.description' | translate"
  ></kdw-title>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-center mx-auto px-4 mb-20 items-stretch"
  >
    @let services = 'services.cards' | translate: { returnObjects: true };
    @for (service of services; track service.title) {
      <kdw-card-service
        [title]="service.title"
        [description]="service.description"
        [icon]="service.icon"
      ></kdw-card-service>
    }
  </div>
  <div
    class="size-[670px] border-[24px] border-k-secondary/15 rounded-full absolute top-2/3 -translate-x-1/2 -translate-y-1/2 -z-10"
  ></div>
  <div
    class="size-[570px] border-[24px] border-k-secondary/15 rounded-full absolute top-2/3 -translate-x-1/2 -translate-y-1/2 -z-10"
  ></div>
</section>
<section class="my-20 mx-auto relative overflow-x-clip">
  <kdw-title
    [title]="'workflow.title' | translate"
    [subtitle]="'workflow.description' | translate"
  ></kdw-title>
  <div class="container flex justify-between mx-auto px-4">
    @let steps = 'workflow.steps' | translate: { returnObjects: true };
    <kdw-stepper [steps]="steps"></kdw-stepper>
  </div>
  <div
    class="size-[1150px] bg-k-primary/15 absolute right-0 top-0 rotate-45 translate-x-3/4 -translate-y-1/4 -z-10"
  ></div>
</section>
<section
  class="bg-k-secondary bg-gradient-to-br to-k-secondary from-k-primary py-10 relative overflow-clip"
>
  <div
    class="size-[400px] bg-k-white/10 rounded-full absolute bottom-0 translate-y-1/2 -translate-x-1/2"
  ></div>
  <div
    class="size-[450px] border-4 border-k-white/10 rounded-full absolute bottom-0 translate-y-1/2 -translate-x-1/2"
  ></div>
  <div
    class="size-[650px] border-4 border-k-white/10 rounded-full absolute top-0 -translate-y-1/2 right-0 translate-x-1/2"
  ></div>
  <div class="container flex justify-between mx-auto px-4 gap-10 flex-col lg:flex-row">
    <div>
      <h2 class="mb-3 font-bold text-2xl text-k-white">{{ 'contact.title' | translate }}</h2>
      <p class="text-k-white">{{ 'contact.description' | translate }}</p>
    </div>
    <div>
      <form
        class="bg-k-white/10 p-6 rounded-lg backdrop-blur-3xl"
        name="contact"
        netlify
        (submit)="onSubmit($event)"
      >
        <div class="mb-5">
          <h3 class="text-k-white font-bold text-2xl m-0">
            {{ 'contact.form.title' | translate }}
          </h3>
          <p class="text-k-white text-sm font-light">{{ 'contact.form.legend' | translate }}</p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
          <input
            type="text"
            [placeholder]="'contact.form.fields.name' | translate"
            class="px-4 py-2 rounded-lg text-k-white border border-k-white bg-k-white/10 focus:border-k-white/50 focus:outline-none transition w-full lg:w-auto"
          />
          <input
            type="email"
            [placeholder]="'contact.form.fields.email' | translate"
            class="px-4 py-2 rounded-lg text-k-white border border-k-white bg-k-white/10 focus:border-k-white/50 focus:outline-none transition w-full lg:w-auto"
          />
        </div>
        <textarea
          rows="4"
          [placeholder]="'contact.form.fields.message' | translate"
          class="w-full mt-4 px-4 py-2 rounded-lg text-k-white border border-k-white bg-k-white/10 focus:border-k-white/50 focus:outline-none transition"
        ></textarea>
        <button
          type="submit"
          class="mt-4 px-6 py-2 bg-k-white text-k-primary font-semibold rounded-lg hover:bg-k-white/90 transition"
        >
          {{ 'contact.form.submit' | translate }}
        </button>
      </form>
    </div>
  </div>
</section>
<section class="container my-20 mx-auto px-4">
  <kdw-title
    [title]="'faq.title' | translate"
    [subtitle]="'faq.description' | translate"
  ></kdw-title>
  @let questions = 'faq.questions' | translate: { returnObjects: true };
  @for (item of questions; track $index) {
    <div class="mb-2 max-w-[800px] mx-auto">
      <kdw-accordeon [title]="item.question">
        <p class="p-4 text-justify">{{ item.answer }}</p>
      </kdw-accordeon>
    </div>
  }
</section>
